<h1>Dashboard</h1>

<h2>Your Folders</h2>

<div class="dashboard">
    <% if (uncategorizedFiles && uncategorizedFiles.length > 0) { %>
        <div class="dashboard-box folder-wrapper">
            <div class="folder-header">
                <strong>Uncategorized Files</strong>
            </div>

            <ul>
                <% uncategorizedFiles.forEach(file => { %>
                    <li class="file-item">
                        <div class="file-info">
                            <a href="/files/<%= file.id %>">
                                <%= file.name %>
                            </a>
                            (<%= Math.round(file.size / 1024) %> KB)
                            <br>
                            <a href="/download/<%= file.id %>">Download</a>
                        </div>

                        <div class="file-actions">
                            <form class="move-file-form" data-file-id="<%= file.id %>">
                                <select name="folderId">
                                    <% folders.forEach(f => { %>
                                        <option value="<%= f.id %>">
                                            <%= f.name %>
                                        </option>
                                    <% }) %>
                                </select>
                                <button type="submit">Move</button>
                            </form>

                            <form class="delete-file-form" data-file-id="<%= file.id %>">
                                <button type="submit">Delete</button>
                            </form>
                        </div>
                    </li>
                <% }) %>
            </ul>
        </div>
    <% } %>

    <% if (folders.length === 0) { %>
        <p>No folders yet. You can create one <a href="/">here</a>.</p>
    <% } else { %>
        <% folders.forEach(folder => { %>
            <div class="dashboard-box folder-wrapper">
                <div class="folder-header">
                    <strong>
                        <%= folder.name %>
                    </strong>
                    <button class="edit-toggle-btn" data-folder-id="<%= folder.id %>">Edit</button>
                </div>

                <div class="folder-actions hidden" id="actions-<%= folder.id %>">
                    <form class="rename-folder-form" data-folder-id="<%= folder.id %>">
                        <input type="text" name="newName" placeholder="New name" required>
                        <button type="submit">Rename</button>
                    </form>

                    <form class="delete-folder-form" data-folder-id="<%= folder.id %>">
                        <button type="submit">Delete</button>
                    </form>
                </div>

                <ul>
                    <% folder.files.forEach(file => { %>
                        <li class="file-item">
                            <a href="/files/<%= file.id %>">
                                <%= file.name %>
                            </a>
                            (<%= Math.round(file.size / 1024) %> KB)
                            <a href="/download/<%= file.id %>">Download</a>

                            <div class="file-actions">
                                <form class="move-file-form" data-file-id="<%= file.id %>">
                                    <select name="folderId">
                                        <option value="">Uncategorized</option>
                                        <% folders.forEach(f => {
                                            if (f.id !== folder.id) { %>
                                                <option value="<%= f.id %>">
                                                    <%= f.name %>
                                                </option>
                                            <% } }) %>
                                    </select>
                                    <button type="submit">Move</button>
                                </form>

                                <form class="delete-file-form" data-file-id="<%= file.id %>">
                                    <button type="submit">Delete</button>
                                </form>
                            </div>
                        </li>
                    <% }) %>
                </ul>
            </div>
        <% }) %>
    <% } %>
</div>

<p><a href="/">Upload More Files</a></p>
<p><a href="/logout">Logout</a></p>